.img {
  aspect-ratio: 16/9;
  opacity: 0.85;
}

.home__container {
  position: relative;
  display: flex;
  aspect-ratio: 16/9;
}

.title {
  color: white;
}

.title--h2 {
  font-size: 50px;
  line-height: 42px;
  text-shadow: 4px 4px 2px black;
}

.title--slogan {
  text-shadow: 1px 1px 1px black;
}

.home-text {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__carousel {
  position: absolute;
  z-index: 0;
}

.home__button {
  display: flex;
  justify-content: center;
}

.home_button a {
  width: 105px;
}
