<div class="home-text">
<h2>Nostra Pizza Gourmet</h2>
<h3>Tu Pizza</h3>
<h3>Mi Pizza</h3>
<h3>Nuestra Pizza</h3>
<a routerLink="/menu">Ver Pizzas</a>
</div>

<!-- <div class="slider">
  <ul>
      <li>
          <img src="https://i.pinimg.com/originals/74/52/db/7452db2aafa89196801ef4fe680137e0.jpg">
      </li>
      <li>
          <img src="https://s1.1zoom.me/big0/160/354276-admin.jpg">
      </li>
      <li>
          <img src="https://mobimg.b-cdn.net/pic/v2/gallery/preview/goroda-pejzazh-ulicy-22228.jpg">
      </li>
  </ul>
</div> -->