/* div {
  margin-bottom: 18px;
} */
img {
  height: 90px;
  width: auto;
  cursor: pointer;
  transition: all 0.3s;
}
img:hover {
  transform: scale(1.1);
}
/* ul {
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  transition: all 0.3s;
  text-transform: uppercase;
}
a:hover {
  color: red;
  text-decoration: underline;
} */
