<nav class="navbar">
    <div>
        <ul>
            <li routerLink="/">
                <img src="../../../assets/logoNostraPizza.png" alt="logoNostraPizza">
                <a routerLink="/">Inicio</a>
            </li>
            <li><a routerLink="/menu">Carta</a></li>
            <li><a routerLink="/gallery">Galeria</a></li>
            <li><a routerLink="/shopping-car">Shopping Car</a></li>
        </ul>
    </div>
    <div>
        <li>
            <img src="" alt="">
            <a routerLink=""></a>
        </li>
        <li (click)="changeTheme()">
            <p>{{themePage}}</p>
        </li>
    </div>
</nav>