<nav class="navbar">
  <div>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item" routerLink="/">
        <img src="../../../assets/logoNostraPizza.png" alt="logoNostraPizza" />
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="menu" routerLinkActive="active">Menú</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="gallery" routerLinkActive="active"
          >Galería</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shopping-cart" routerLinkActive="active"
          >Carrito</a
        >
      </li>
    </ul>
    <ul>
      <li>
        <img src="" alt="" />
        <a routerLink=""></a>
      </li>
      <li (click)="changeTheme()">
        <p>{{ themePage }}</p>
      </li>
    </ul>
  </div>
</nav>
