* {
  color: #770007;
}

div {
  display: flex;
  align-items: center;
}

.nav-link {
  width: 100%;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

.nav-link.active {
  color: #fff;
  background-color: #770007;
  border-radius: 12px;
}

.nav-link:hoverdd {
  color: #fff;
}

#logo {
  height: 90px;
  width: auto;
  cursor: pointer;
  transition: all 0.3s;
}
#car {
  height: 40px;
  width: auto;
  cursor: pointer;
  transition: all 0.3s;
}
.logo:hover {
  transform: scale(1.1);
}
ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.car-dark {
  gap: 20px;
}
/* a {
  transition: all 0.3s;
  text-transform: uppercase;
}
a:hover {
  color: red;
  text-decoration: underline;
} */
