<h2>Bienvenido a tu carrito de compra</h2>
<div class="container">
  <div class="wrapper" *ngFor="let item of shoppingCart.cart">
    <h3>{{ item.tittle }}</h3>
    <img [src]="item.cover" [alt]="item.tittle" />
    <h4 class="wrapperH">{{ item.ingredients }}</h4>
    <h4 class="wrapperH">{{ "Tamaño= " + item.size }}</h4>
    <h4 class="cash">{{ item.price + "€" }}</h4>
    <button
      class="shoppingDelete"
      (click)="shoppingCart.deleteFromCart(item.id)"
    >
      X
    </button>
  </div>
</div>
