* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(221, 221, 221);
  color: #565656;
  transition: all 0.5s;
}

.dark {
  background-color: #565656;
  color: whitesmoke;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: rgba(119, 0, 7, 1);
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(119, 0, 7, 0.5);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

.nav-link.active {
  color: #fff;
  background-color: #770007;
  border-radius: 12px;
}
