<!-- <section>
    <form novalidate [formGroup]="pizzaMenu" (ngSubmit)="onSubmit()">
        <label for="tittle">Nombre de la pizza</label>
        <input type="text" formControlName="tittle" id="tittle">
        <label for="ingredients">Ingredientes</label>
        <input type="text" formControlName="ingredients" id="ingredients">
        <label for="cover">Foto</label>
        <input type="text" formControlName="cover" id="cover">
        <label for="size">Tamaño de la pizza</label>
        <input type="text" formControlName="size" id="size">
        <label for="price">Precio de la pizza</label>
        <input type="text" formControlName="price" id="price">
    </form>
</section> -->
