@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  display: grid;
  justify-content: space-around;
  align-content: space-between;
  justify-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 300px;
  height: 450px;
  padding: 10px;
}

.wrapper:hover {
  transform: scale(1.02);
}

.wrapper h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  color: black;
  text-shadow: darkgray;
}

.wrapper img {
  height: 200px;
  object-fit: cover;
  justify-content: center;
}

.wrapperH {
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  height: auto;
  text-align: center;
  padding: 0 10px;
}

.cash {
  font-weight: normal;
  font-size: large;
  font-weight: bold;
  color: rgb(38, 38, 38);
  margin: 0;
}

.shoppingAdd {
  background-color: rgb(119, 0, 0);
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
  padding: 10px 10px;
  font-size: 12px;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.shoppingAdd:hover {
  transform: scale(1.02);
  background-color: rgb(161, 0, 0);
  box-shadow: 10px;
}
