<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- // Web Pizza
// Main | Development

// Main - todo el desarrollo que estara en produccion
// Development - todo el desarrollo que no se ve en produccion | que no rompa la web

// Todas las ramas a partir de development -->

<!-- 1. Carrito de compra // ?
  1. Servicio -> feat/shopping-car-service
    1. Agregar al carrito
    2. Eliminar del carrito
    3. Modificar el carrito

  2. Components -> feat/shopping-car-component
    1. Carrito de compra
    2. estilos
    3. agregar al home

----------------------------------------------------

2. Listado de Pizzas // X?
  1 Servicio de pizza -> feat/pizza-list-service
    1. Agregar Pizza
    2. Modificar Pizza
    3. Verificar Existencia
    

  2. Componente listado -> feat/pizza-list-component
    1. Integrar servicio de carrito de compra -->
