<div class="social-links-container">
  <!-- icono social media -->
  <div class="social-media-container">
    <a href="https://www.instagram.com/cupheadgame/" class="social-media">
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="https://www.youtube.com/channel/UCf2PB4w6M3co9GxQKTOvQMA"
      class="social-media"
      ><i class="fab fa-youtube"></i
    ></a>
    <a href="https://twitter.com/studiomdhr" class="social-media"
      ><i class="fab fa-twitter"></i
    ></a>
    <a href="https://www.facebook.com/studiomdhr" class="social-media"
      ><i class="fab fa-facebook"></i
    ></a>
  </div>

  <!-- links  -->
  <div class="links">
    <p>
      <a href="" class="button-links">Controles parentales</a>
    </p>
    <p>
      <a href="" class="button-links">Servicio atencion al cliente</a>
    </p>
    <p>
      <a href="" class="button-links">Preguntas Frecuentes</a>
    </p>
    <p>
      <a href="" class="button-links">Donde comprar?</a>
    </p>
  </div>
</div>
<!-- copyrigth -->
<div class="copyright-container">
  <p><i class="far fa-copyright"></i> NOSTRA PIZZA GOURMET 2022</p>
  <p class="private">
    <a href="" class="button-links">Condiciones de uso</a>
    <a href="" class="button-links">Aviso de privacidad</a>
    <a href="" class="button-links">Pagina de cookies</a>
    <a href="" class="button-links">Informacion Legal</a>
  </p>
</div>
